header {
    background-color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: inline-block;
    margin: 0;
    top: 0;
}
  
.logo {
      float: left;
}
  
nav {
      background: rgb(255, 255, 255);
      height: 50px; 
      width: 100%;
}
  
nav ul {
      height: 80px;
      list-style: none;
      margin: 0 auto; 
      padding: 0 20px;
      float: right;
}
  
nav ul li {
    color: rgb(42, 162, 167) !important;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 20px;
    transition: background .5s; 
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    border: 2px;
}
  
  
nav ul li:hover {
      background: #f76025;
      cursor: pointer; 
      transition: background .5s;  
      color: white;
}
  
nav ul li a:hover{
      color: white;
      transform: scale(1.1);
}
  
nav ul a {
      text-decoration: none;
      color: rgb(243, 56, 94);
}

.gallery {
    position: relative;
    width: 100%;
    top: 90px;
    margin: 0;
    padding: 0;
    align-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
  
/* Create two equal columns that sits next to each other */
.column {
    flex: 100%;
    padding: 0;
    margin: 0;
}

.column img {
    margin: 4px 0;
    vertical-align: middle;
}

div .row .colum a {
      opacity: 1;
      text-decoration: none;
      box-decoration-break: none;
}

div .row .column a:hover {
      transition:  all 0.3s;
      opacity: 0.7;
}

.button {
      position: relative;
}

.title {
      position: absolute;
      color: black;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

}

.button:hover .title {
      visibility: visible;
      opacity: 1;
}
