header {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: inline-block;
  margin: 0;
  top: 0;
}

.logo {
    float: left;
}

nav {
    background: rgb(255, 255, 255);
    height: 50px; 
    width: 100%;
}

nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0 20px;
    float: right;
}

nav ul li {
  color: rgb(42, 162, 167) !important;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 20px;
  transition: background .5s; 
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 8px;
  border: 2px;
}


nav ul li:hover {
    background: #f76025;
    cursor: pointer; 
    transition: background .5s;  
    color: white;
}

nav ul li a:hover{
    color: white;
    transform: scale(1.1);
}
nav ul a {
    text-decoration: none;
    color: rgb(243, 56, 94);
}

.content {
    position: relative;
    width: 100%;
    top: 60px;
    margin: 0;
    padding: 0;
}

main {
    background-image: url("../Images/banner2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 640px;
    position: relative;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

